html,body{
	width: 100%;
	height: 100%;
}
body{
/*	background-size: cover;*/
	background: #fafafa;
	background: url(../img/bgImg.png) repeat-x ;
}
.box{
	width: 640px;
	border:1px solid #e8e8e8;
	padding:46px 160px 124px;
	background: #fff;
	color:#333;
	font-size:12px;
	margin:90px auto;
}
.article{
	border-bottom:1px solid #ccc;
	padding-bottom:35px;
}
.article>h2{
	width: 100%;
	font-size:36px;
	font-weight:normal;
}
.article>p{
	width: 100%;
	height: 50px;
	overflow: hidden;
	margin-top: 15px;
}
.article>p>span{
	display: block;
}
.article>p>span:nth-child(1){
	float:left;
	font-size:13px;
}
.article>p>span:nth-child(1)>img{
	display: inline-block;
	width: 40px;
	border-radius:50%;
	margin-right: 10px;
	position: relative;
	top:10px;
}
.article>p>span:nth-child(2){
	float:right;
	font-size:12px;
	color:#999;
	margin-top: 25px;
}
.article>p>span:nth-child(2)>item{
	border-right:1px solid #ccc;
	padding-right:13px;
}
.text{
	margin-top:50px ;
}
.text>p{
	margin-top: 20px;
	font-size:16px;
	line-height:28px;
	font-weight:200;
	color:#333;
}
.like{
	width: 100%;
	margin:40px auto;
}
.like>.data>img{
	display: inline-block;
	width: 35px;
	margin-right: 10px;
	position: relative;
	top:10px;
	cursor:pointer;
}
.like>.data>img:hover{
	background: url(../img/likeH.png) no-repeat;
	background-size: 100%;
}
.like>.data>span{
	font-size:14px;
	color:#999;
}
.like>.contect>a{
	width: 44px;
	height: 44px;
	border-radius:50%;
	display:inline-block;
	margin-right: 10px;
}
.like>.contect>a>img{
	width: 44px;
}
.comment{
	width: 640px;
	margin: 70px auto 0;
	/*margin-top: 120px;*/
	position: relative;
}
.comment form{
	text-align: center;
}
.comment textarea{
	width: 488px;
	height: 92px;
	padding: 15px;
	color:#666;
	border:1px solid #e8e8e8;
	resize:none;
	outline:none;
	font-size:14px;
	border-radius:10px;
}
.comment:before{
	content:"";
	width: 15px;
	height: 15px;
	border:1px solid transparent;
	background-color: #fff;
	border-right-color: #e8e8e8;
	border-top-color: #e8e8e8;
	position:absolute;
	right:102px;
	top:50%;
	margin-top: -20.5px;
	transform:rotate(45deg);
}
.comment input{
	border: none;
	font-size:14px;
	color:#fff;
	padding:8px 20px;
	margin-top: 38px;
	background:#78bc85 ;
	border-radius:25px;
	position: relative;
	top:-57px;
	right:-50px;
	outline:none;
	cursor:pointer;
}
.comment>input:hover{
	background: #649e70;
}
.record{
	width: 100%;
	margin-top: 20px;
	    width: 640px;
    margin: 20px auto 100px;
}
.record>p{
	padding-bottom: 5px;
	color:#333;
	font-size:18px;
	border-bottom:1px solid #eee;
}
.record>li{
	width: 100%;
	height:155px;
	padding-top:40px;
	/*background: #999;*/
	overflow: hidden;
	font-size:14px;
	font-weight:normal;
	border-bottom:1px solid #eee;
}
.record>li>.icon{
	float: left;
}
.record>li>.icon>img{
	display: block;
	width: 44px;
	border-radius:50%;
}
.record>li>.text_d{
	float:left;
	margin-left: 10px;
}
.record>li>.text_d>p:first-child{
	color:#57ad68;
}
.record>li>.text_d>p:first-child>span{
	font-size:12px;
	display: inline-block;
	margin-left: 5px;
	color:#999;
}
.record>li>.text_d>p:last-child{
	max-width:580px;
	margin-top: 8px;
	color:#666;
}

.login-btn {
    font-weight: 200;
    font-size: 14px;
    line-height: 44px;
    width: 126px;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid rgba(120,188,133,0.5);
    -ms-border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    color: #57ad68;
    cursor: pointer;
}
.login-btn span {
    opacity: .5;
}
.login-btn:hover {
    border: none;
    color: #fff;
    background-color: #57ad68;
    -ms-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    transition: all 300ms linear;
}
.login-btn a{
	color: #000;
}
.login-btn:hover>a{
	color: #fff;
}



.box1{
	width: 960px;
	padding-top:46px;
	margin:90px auto 0;
}
.pic{
	width: 960px;
}
.pic_l{
	width: 300px;
	height: 300px;
}
.pic_l img{
	width: 100%;
	height:100%;
}
.pic_r{
	margin-left: 50px;
}
.pic_r>h2{
	font-size:40px;
	color:#333;
	font-weight:400;
}
.pic_r>p:nth-child(2){
	color:#999;
	padding-top:9px;
	padding-bottom: 14px;
	font-size:12px;
}
.pic_r>p:nth-child(3),.pic_r>p:nth-child(4){
	color:#999;
	font-size:14px;
}
.pic_r>p:nth-child(3)>span,.pic_r>p:nth-child(4)>span{
	color:#57ad68;
}
.pic_r>.pic_t{
	width: 120px;
	height: 48px;
	border:1px solid #57ad68;
	border-radius:25px;
	margin-top: 104px;
	cursor: pointer;
}
.pic_r>.pic_t>.music{
	position: relative;
}
.pic_r>.pic_t>.music span{
	position: absolute;
    top: 13px;
    left: 50px;
    z-index: 10;
    font-size: 15px;
}
.pic_r>.pic_t>.music span i{
	font-style: inherit;
}
.pic_r>.pic_t>.music>img{
	width: 40%;
	display: block;
	position: absolute;
}
.pic_r>.pic_t>.music>#play{
	left: 14px;
	top: 9px;
	width: 30px;
}
.pic_r>.pic_t>.music>#pause{
	left: 14px;
	top: 9px;
	width: 30px;
	display: none;
}
.pic_r>.pic_t>.music>audio{
	opacity: 0;
	width: 100%;
	height: 100%;
}
.pic_r>.pic_t>.like{
	margin-top: -42px;
	width: 30px;
	height: 30px;
	background: url(../img/like.png) no-repeat ;
	background-size: 100%;
	margin-left:420px;
}
.pic_r>.pic_t>.like:hover{
	background: url(../img/likeH.png)  no-repeat;
	background-size: 100%;
}
.box1>#test{
	font-size:18px;
	color:#333;
	margin: 60px 0;
	
}
.box1>#test>span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: #333;
	position: relative;
	top: 3px;
}
.detail{
	width: 640px;
	border:1px solid #e8e8e8;
	padding:30px 160px;
	padding-bottom:50px;
	background: #fff;
	color:#333;
	font-size:12px;
	margin:10px auto 50px;
}
.detail>p{
	font-size:14px;
	font-weight:200;
	color:#333;
	line-height:24px;
}
.detail>p>a{
	color:#57ad68;
}

.p2{
	width: 640px;
    border: 1px solid #e8e8e8;
    padding: 30px 160px;
    padding-bottom: 50px;
    background: #fff;
    color: #333;
    font-size: 12px;
    margin: 0 auto 100px;
}